:root {
  --ff-main: 'Architects Daughter', sans-serif;
  --ff-simple: 'Livvic', sans-serif;
  --main: #14ae5c;
  --secondary: #e04285;
  --highlight-1: #fc8b03;
  --highlight-2: #ffbf01;
  --highlight-3: #ffea66;
  --light: #f6f6f6;
  --dark: #0f0f0f;
  /* box-shadow: 11px 12px 63px -7px rgba(20, 174, 92, 0.75); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 75px);
}
body {
  font-family: var(--ff-main);
  background-color: var(--light);
}
/*NAVBAR*/
.top-menu {
  background-color: var(--dark);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 90%;
  margin: 0 auto;
}
.logo {
  height: 3.5rem;
}
.nav-list {
  width: 55%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.nav-list li {
  display: inline-block;
  padding: 0 1%;
  margin: 0 0.5%;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.social-nav {
  list-style-type: none;
}
.social-nav li {
  display: inline-block;
  padding: 2rem 1rem;
  position: relative;
}
.navbar a {
  color: var(--light);
  text-decoration: none;
}
.social-nav a:hover {
  color: var(--highlight-2);
}
.nav-list li a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--highlight-2);
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
.navbar a:hover::before {
  width: 100%;
}
.menu {
  display: none;
}
.menu-line {
  width: 20px;
  height: 3px;
  background-color: var(--light);
  margin-bottom: 4px;
}
@media all and (max-width: 879px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .logo-container {
    width: 100%;
  }
  .menu {
    display: block;
    position: absolute;
    right: 6%;
    top: 2%;
    padding-top: 15px;
  }
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    display: none;
  }
  .nav-list li {
    display: block;
    padding: 7px;
    border-top: 1px solid var(--highlight-3);
  }
  .social-nav {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    display: none;
  }
  .social-nav li {
    display: block;
    padding: 7px;
    border-top: 1px solid var(--light);
  }
  .navbar a:hover {
    color: var(--secondary);
  }
  .nav-list li a::before {
    display: none;
  }
  .navbar a:hover::before {
    display: none;
  }
  .logo-container {
    width: 100%;
  }
  .logo {
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .active {
    display: block;
  }
}
/*Hero*/
.hero {
  background-color: var(--main);
}
.hero-img {
  display: block;
  width: 100vw;
}
/*Sections General*/
.section {
  margin: 0 auto;
  text-align: center;
  padding-top: 1.5%;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 2%;
}
h3 {
  font-size: 2rem;
  font-family: var(--ff-main);
}
p {
  font-size: 1.2rem;
  font-family: var(--ff-simple);
}
/*ABOUT */
.about {
  background-color: var(--highlight-2);
  border-top: 10px solid black;
}
.about-intro {
  width: 60%;
  margin: 0 auto;
}
.line {
  font-weight: 700;
}
/*Flip cards*/
.flip-cards {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 5%;
}
.flip-card-container-run,
.flip-card-container-read,
.flip-card-container-nature,
.flip-card-container-friends {
  width: 200px;
  height: 250px;
  perspective: 1000px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-top: 2%;
}
.flip-card-container-run:hover,
.flip-card-container-read:hover,
.flip-card-container-nature:hover,
.flip-card-container-friends:hover {
  cursor: pointer;
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card-container-run.flip .flip-card,
.flip-card-container-read.flip .flip-card,
.flip-card-container-nature.flip .flip-card,
.flip-card-container-friends.flip .flip-card {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  border: 3px solid var(--dark);
}
.flip-card-front p {
  color: var(--dark);
  font-family: var(--ff-main);
}
.flip-card-front:hover {
  box-shadow: 11px 12px 63px -7px black;
  border: 3px solid var(--light);
}
.hobby-icon {
  width: 50%;
}
.flip-card-back {
  transform: rotateY(180deg);
  background-image: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid var(--light);
}
.running-back {
  background-image: url(images/lisa-running.webp);
}
.reading-back {
  background-image: url(images/lisa-reading.webp);
}
.nature-back {
  background-image: url(images/lisa-nature.webp);
}
.friends-back {
  background-image: url(images/lisa-friends.webp);
}

/* WORK */
.work {
  background-color: var(--highlight-2);
}
.work-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.work-icon {
  width: 35%;
  display: flex;
  padding: 0;
}
.project-cards-wrapper {
  margin: 0 auto;
  margin-top: 0;
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  width: 20%;
  min-width: 300px;
  margin: 1%;
  background-color: var(--dark);
  border: 3px solid var(--dark);
  border-radius: 1rem;
  overflow: hidden;
}
.project-card:hover {
  box-shadow: 11px 12px 63px -7px black;
  border: 3px solid var(--light);
}
.project-header {
  background-color: var(--light);
  padding: 5% 2%;
  text-align: center;
}
.project-title {
  font-size: 1.7rem;
}
.project-description {
  padding: 4% 3%;
}
.link-container p {
  color: var(--light);
  font-size: 1rem;
  padding: 4%;
}
.link-container .website {
  color: var(--highlight-2);
}
.link-container .website:hover {
  color: var(--light);
}
.link-container .source-code {
  color: var(--highlight-2);
}
.link-container .source-code:hover {
  color: var(--light);
}

/*SKILLS*/
.skills {
  background-color: var(--highlight-2);
}
.skills-list {
  width: 90%;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 5%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-list li {
  width: 95px;
  padding: 1% 2%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-size: 1.1rem;
  font-family: var(--ff-simple);
  border: 3px solid var(--dark);
  background-color: var(--light);
  border-radius: 1rem;
}
.skills-list li .skill-icon-green {
  color: var(--main);
}
.skills-list li .skill-icon-pink {
  color: var(--secondary);
}
.skills-list li .skill-icon-yellow {
  color: var(--highlight-2);
}

/* CONTACT */
.contact {
  background-color: var(--highlight-2);
}
.contact-body {
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 4%;
}
.contact-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 1rem;
  background-color: var(--light);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact-form-left {
  width: 50%;
  background-image: url(./images/contact-green.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 3px solid black;
  border-right: 0px;
}
.contact-form-right {
  width: 50%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}
.contact-form-right p {
  color: var(--dark);
  width: 90%;
  margin: 0 auto;
}
.contact-form-right .contact-me {
  font-weight: 600;
  margin-top: 10%;
}
.contact-form-right .use-form {
  margin-top: 2%;
}
.input-fields {
  width: 85%;
  margin: 5% auto;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
}
.input-fields input {
  padding: 2%;
  margin-bottom: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
}
.input-fields textarea {
  padding: 2% 0 20% 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  font-family: var(--ff-main);
  font-size: 1rem;
}
.send-btn {
  display: inline-block;
  padding: 2%;
  border: 3px solid rgba(251, 252, 250, 0.9);
  border-radius: 0.5rem;
  background-color: rgba(9, 5, 5, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--light);
  margin-top: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--ff-simple);
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}
.send-btn:hover {
  background-color: var(--light);
  color: var(--dark);
}

/* FOOTER */
.footer {
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 2% 4%;
}
.footer .source-copy {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
.source-copy a {
  color: var(--light);
}
.source-copy .copyright {
  color: gray;
  font-size: 1rem;
}
.footer-social {
  list-style: none;
  display: flex;
}
.footer-social a {
  color: var(--light);
}
.footer-social li {
  padding: 0 10%;
}
.back-top {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--light);
  font-family: var(--ff-main);
  font-size: 1.1rem;
  font-weight: 500;
}
footer a:hover {
  color: var(--highlight-2);
}

/*-------------------MEDIA QUERIES-------------------*/

/*SMALL DEVICES */
@media all and (min-width: 320px) and (max-width: 480px) {
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  .section {
    padding: 1rem;
  }
  .skills-list li {
    padding: 2%;
    font-size: 0.9rem;
  }
  /*CONTACT-Small*/
  .contact-form {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .contact-form-right {
    width: 100%;
    border-radius: 1rem;
  }
  .contact-form-right p {
    font-size: 1rem;
  }
  .contact-form-left {
    width: 0;
    height: 0;
    border: none;
  }
  /*FOOTER-Small*/
  .footer .source-copy {
    font-size: 0.7rem;
  }
  .source-copy .copyright {
    font-size: 0.7rem;
  }
  .footer-social {
    font-size: 0.7rem;
  }
  .back-top {
    font-size: 0.7rem;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 481px) and (max-width: 640px) {
  /*CONTACT-Medium*/
  .contact-form-right {
    width: 100%;
    border-radius: 1rem;
  }
  .contact-form-right p {
    font-size: 1.2rem;
  }
  .contact-form-left {
    width: 0;
    height: 0;
    border: none;
  }
}
